# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/material_theme_project_new.xml
/misc.xml
/modules.xml
/PGen.iml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
